.header {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-container {
    max-width: 100%; 
    margin: 0px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 2.5rem;
}

.title {
    font-family: "Cal Sans", sans-serif;
    color: #9b87f5; 
    font-weight: bold; 
    font-size: 1.8rem; 
    text-decoration: none;
    flex: 1;
}

nav {
    color: #4b5563;  
    font-weight: 600;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    margin-left: 12vw;
}

nav > a {
    margin-right: 1.6rem;
    color: inherit;
    text-decoration: none;
    position: relative;
    padding: 8px 0;
    transition: transform 0.3s ease;
}

nav > a:hover {
    transform: translateY(-2px);
}

nav > a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9b87f5;
    transition: width 0.3s ease;
}

nav > a:hover::after {
    width: 100%;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #9b87f5;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #7E69AB;
}